@import "tailwindcss";

@font-face {
    font-family: "Instrument";
    src: url("/static/fonts/InstrumentSerif-Regular.ttf") format("truetype");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Instrument";
    src: url("/static/fonts/InstrumentSerif-Italic.ttf") format("truetype");
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Oi";
    src: url("/static/fonts/Oi-Regular.ttf") format("truetype");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Sora";
    src: url("/static/fonts/Sora.ttf") format("truetype-variations");
    font-weight: 100 900; /* Variable font weight range */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Libre Bodoni";
    src: url("/static/fonts/LibreBodoni.ttf") format("truetype-variations");
    font-weight: 100 900; /* Variable font weight range */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Libre Bodoni";
    src: url("/static/fonts/LibreBodoni-Italic.ttf")
        format("truetype-variations");
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Overpass";
    src: url("/static/fonts/Overpass.ttf") format("truetype-variations");
    font-weight: 100 900; /* Variable font weight range */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Overpass";
    src: url("/static/fonts/Overpass-Italic.ttf") format("truetype-variations");
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

body {
    margin: 0;
    font-family: "Instrument", Times, serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #1a1611;
    color: #f5e9c9;
}

html {
    scrollbar-gutter: stable;
}

.slide-over-enter {
    transform: translateX(100%);
    opacity: 1;
}
.slide-over-enter-active {
    transition:
        transform 300ms ease-out,
        opacity 300ms ease-out;
}
.slide-over-enter-to {
    transform: translateX(0);
    opacity: 1;
}
.slide-over-exit {
    transform: translateX(0);
    opacity: 1;
}
.slide-over-exit-active {
    transition:
        transform 300ms ease-in,
        opacity 300ms ease-in;
}
.slide-over-exit-to {
    transform: translateX(0);
    opacity: 1;
}

.slide-off-enter {
    transform: translateX(100%);
    opacity: 1;
}
.slide-off-enter-active {
    transition:
        transform 300ms ease-out,
        opacity 300ms ease-out;
}
.slide-off-enter-to {
    transform: translateX(0);
    opacity: 1;
}
.slide-off-exit {
    transform: translateX(0);
    opacity: 1;
}
.slide-off-exit-active {
    transition:
        transform 300ms ease-in,
        opacity 300ms ease-in;
}
.slide-off-exit-to {
    transform: translateX(0);
    opacity: 1;
}

.page-container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

.page {
    position: absolute;
    min-height: 100dvh;
    width: 100%;
    top: 0;
    left: 0;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@keyframes rotate-animation {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate-animation-back {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-180deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}
