@import "tailwindcss";

@font-face {
    font-family: "Inter";
    src: url("/static/fonts/Inter.woff") format("truetype");
    font-weight: 100 900; /* Variable font weight range */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("/static/fonts/Inter-Italic.woff") format("truetype");
    font-weight: 100 900; /* Variable font weight range */
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Instrument";
    src: url("/static/fonts/InstrumentSerif-Regular.woff") format("truetype");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Instrument";
    src: url("/static/fonts/InstrumentSerif-Italic.woff") format("truetype");
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Oi";
    src: url("/static/fonts/Oi-Regular.woff") format("truetype");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Sora";
    src: url("/static/fonts/Sora.woff") format("truetype-variations");
    font-weight: 100 900; /* Variable font weight range */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Libre Bodoni";
    src: url("/static/fonts/LibreBodoni.woff") format("truetype-variations");
    font-weight: 100 900; /* Variable font weight range */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Libre Bodoni";
    src: url("/static/fonts/LibreBodoni-Italic.woff")
        format("truetype-variations");
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Overpass";
    src: url("/static/fonts/Overpass.woff") format("truetype-variations");
    font-weight: 100 900; /* Variable font weight range */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Overpass";
    src: url("/static/fonts/Overpass-Italic.woff") format("truetype-variations");
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Oswald";
    src: url("/static/fonts/Oswald-SemiBold.woff");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Figtree";
    src: url("/static/fonts/Figtree.woff") format("truetype-variations");
    font-weight: 400 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "JustMe";
    src: url("/static/fonts/JustMeAgainDownHere.woff");
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    font-family: "Instrument", Times, serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: black;
    color: white;
}

html {
    scrollbar-gutter: stable;
}

.slide-over-enter {
    transform: translateX(100%);
    opacity: 1;
}
.slide-over-enter-active {
    transition:
        transform 300ms ease-out,
        opacity 300ms ease-out;
}
.slide-over-enter-to {
    transform: translateX(0);
    opacity: 1;
}
.slide-over-exit {
    transform: translateX(0);
    opacity: 1;
}
.slide-over-exit-active {
    transition:
        transform 300ms ease-in,
        opacity 300ms ease-in;
}
.slide-over-exit-to {
    transform: translateX(0);
    opacity: 1;
}

.slide-off-enter {
    transform: translateX(100%);
    opacity: 1;
}
.slide-off-enter-active {
    transition:
        transform 300ms ease-out,
        opacity 300ms ease-out;
}
.slide-off-enter-to {
    transform: translateX(0);
    opacity: 1;
}
.slide-off-exit {
    transform: translateX(0);
    opacity: 1;
}
.slide-off-exit-active {
    transition:
        transform 300ms ease-in,
        opacity 300ms ease-in;
}
.slide-off-exit-to {
    transform: translateX(0);
    opacity: 1;
}

.page-container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

.page {
    position: absolute;
    min-height: 100dvh;
    height: 100dvh;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@keyframes rotate-animation {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate-animation-back {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-180deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

@keyframes breathe {
    0% {
        transform: scale(1);
        rotate: 10deg;
    }
    50% {
        transform: scale(1.3);
        rotate: -10deg;
    }
    100% {
        transform: scale(1);
        rotate: 10deg;
    }
}

@keyframes breathe-down {
    0% {
        transform: scaleY(1.2);
    }
    50% {
        transform: scaleY(0.8);
    }
    100% {
        transform: scaleY(1.2);
    }
}

.fade {
    position: relative;
}
.fade::after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: -10px;
    right: 0;
    width: 100%;
    height: 70%;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 10%,
        rgba(0, 0, 0, 1) 90%
    );
}

@keyframes rot-scale {
    0% {
        transform: rotate(0deg);
        scale: 1;
    }
    50% {
        transform: rotate(180deg);
        scale: 0.6;
    }
    100% {
        transform: rotate(360deg);
        scale: 1;
    }
}

@keyframes marquee {
    0% {
        transform: translate(100%, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}

@keyframes landing {
    0% {
        transform: rotate(0deg);
        scale: 1;
    }
    50% {
        transform: rotate(180deg);
        scale: 0.8;
    }
    100% {
        transform: rotate(360deg);
        scale: 1;
    }
}

@keyframes landing-back {
    0% {
        transform: rotate(0deg);
        scale: 1;
    }
    50% {
        transform: rotate(-180deg);
        scale: 0.8;
    }
    100% {
        transform: rotate(-360deg);
        scale: 1;
    }
}

@keyframes marquee-content {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-180%);
    }
}

@keyframes marquee-op {
    from {
        transform: translateX(140%) skewY(-5deg);
    }
    50% {
        transform: skewY(0deg);
    }
    to {
        transform: translateX(-140%) skewY(5deg);
    }
}

@keyframes round {
    0% {
        border-radius: 0;
        scale: 1;
        /*transform: rotate(0deg);*/
    }
    50% {
        border-radius: 0px 50px 50px 0px;
        scale: 1;
        /*transform: rotate(180deg);*/
    }
    100% {
        border-radius: 0;
        scale: 1;
        /*transform: rotate(360deg);*/
    }
}

@keyframes round-other {
    0% {
        border-radius: 0;
        scale: 1;
        /*transform: rotate(0deg);*/
    }
    50% {
        border-radius: 40px 0px 0px 40px;
        scale: 1;
        /*transform: rotate(180deg);*/
    }
    100% {
        border-radius: 0;
        scale: 1;
        /*transform: rotate(360deg);*/
    }
}

@keyframes marquee-h {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(100%);
    }
}

@keyframes rot-bg {
    from {
        transform: rotateZ(0deg);
        scale: 1;
    }
    50% {
        scale: 0.9;
    }
    to {
        transform: rotateZ(-360deg);
        scale: 1;
    }
}

@keyframes rot-bg-compliment {
    from {
        transform: rotateZ(-180deg);
        scale: 2;
    }
    50% {
        scale: 0.9;
    }
    to {
        transform: rotateZ(-540deg);
        scale: 2;
    }
}

.draw {
    stroke-dasharray: 100;
    stroke-dashoffset: 0;
    animation: dash 3s cubic-bezier(0.16, 1, 0.3, 1) infinite;
}
@keyframes dash {
    0% {
        /*stroke-dashoffset: 100;*/
        scale: 1.2;
        fill: #ffffff;
        rotate: 45deg;
    }
    50% {
        /*stroke-dashoffset: 0;*/
        scale: 1.4;
        fill: #ffffff00;
        rotate: 135deg;
    }
    100% {
        /*stroke-dashoffset: 100;*/
        scale: 0.8;
        fill: #ffffff;
        rotate: 225deg;
    }
}
